.offers-grid {
    grid-template-columns: repeat(4, 300px);
}

/*  ANIMATION*/

.container-fluid > h2 {
    font-size: var(--font-size_2);
}

.container-fluid > p {
    font-size: var(--font-size_1-5);
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1.2s ease forwards;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
