<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(additionalCss='/css/admin/stats.css')"></head>

<body class="auth-layout">
<header th:replace="fragments/navbar"></header>

<main class="main-content">
    <div class="container-fluid">

        <div class="mt-4 text-center">
            <div th:if="${message}"
                 class="alert-toast alert-success"
                 th:text="${message}">
            </div>
        </div>

        <div class="heading-wrapper">
            <h1 class="section-title text-center text-white mt-5"
                th:text="#{stats.title}">>Welcome to Stats!</h1>
            <form
                    th:action="@{/admin/statistics}"
                    th:method="POST">
                <button type="submit"
                        class="btn cta-btn"
                        th:text="#{stats.saveReset}">
                    Save and reset stats
                </button>
            </form>
        </div>

        <section class="container requests-content">
            <div class="row text-center g-3">
                <div class="col-md-4">
                    <div class="card bg-dark text-white shadow-sm">
                        <div class="card-body">
                            <h6 class="text-uppercase text-muted"
                                th:text="#{stats.totalRequests}">Total Requests</h6>
                            <h2 class="fw-bold"
                                th:text="${stats.totalRequests}"></h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-dark text-white shadow-sm">
                        <div class="card-body">
                            <h6 class="text-uppercase text-muted" th:text="#{stats.anonRequests}">Anonymous
                                Requests</h6>
                            <h2 class="fw-bold" th:text="${stats.anonRequests}"></h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-dark text-white shadow-sm">
                        <div class="card-body">
                            <h6 class="text-uppercase text-muted" th:text="#{stats.authRequests}">Authorized
                                Requests</h6>
                            <h2 class="fw-bold" th:text="${stats.authRequests}"></h2>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="container mt-5 p-4 bg-dark rounded shadow">
            <h2 class="text-center text-white fw-semibold mb-4"
                th:text="#{stats.mostViewed}">
                Most Viewed Pages
            </h2>

            <table class="table table-dark table-hover align-middle fs-6">

                <thead class="border-bottom border-secondary">
                <tr class="text-uppercase text-secondary small">
                    <th th:text="#{stats.path}">Path</th>
                    <th th:text="#{stats.requests}" class="text-end">Requests</th>
                    <th th:text="#{stats.avgResponse}" class="text-end">Avg Response (ms)</th>
                    <th th:text="#{stats.error4xx}" class="text-end">4xx</th>
                    <th th:text="#{stats.error5xx}" class="text-end">5xx</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="ep : ${stats.endpointStats}">
                    <td class="text-break text-info fw-medium" th:text="${ep.path}"></td>

                    <td class="text-end fw-semibold font-monospace"
                        th:text="${ep.totalRequests}"></td>

                    <td class="text-end font-monospace text-warning"
                        th:text="${#numbers.formatDecimal(ep.avgResponseTimeMs, 1, 2)}"></td>

                    <td class="text-end font-monospace text-warning"
                        th:text="${ep.error4xx}"></td>

                    <td class="text-end font-monospace text-danger"
                        th:text="${ep.error5xx}"></td>
                </tr>
                </tbody>
            </table>
        </section>

        <section class="container mt-5 p-4 bg-dark rounded shadow">
            <h2 class="text-center text-white fw-semibold mb-4"
                th:text="#{stats.mostActiveUsers}">
                Most Active Users
            </h2>

            <table class="table table-dark table-hover align-middle mb-0 fs-6">
                <thead class="border-bottom border-secondary">
                <tr class="text-uppercase text-secondary small">
                    <th th:text="#{stats.username}">Username</th>
                    <th th:text="#{stats.requests}" class="text-end">Requests</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="u : ${stats.userStats}">
                    <td class="fw-medium text-info" th:text="${u.username}"></td>
                    <td class="text-end fw-semibold font-monospace"
                        th:text="${u.requests}"></td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</main>

<footer th:replace="fragments/minimal-footer"></footer>

<script>
    const msg = document.querySelector(".alert-toast");

    if (msg) {
        setTimeout(() => msg.classList.add("show"), 50);
        setTimeout(() => msg.classList.remove("show"), 4000);
    }
</script>

</body>
</html>
