.navbar .logo {
    max-height: 50px;
    padding-right: 100px;
}

.language-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-bottom: 10px;
}
.star {
    font-size: 2rem;
    cursor: pointer;
    color: #ccc;
    transition: color 0.2s ease;
}
.star:hover,
.star.selected {
    color: #ffcc00;
}
.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: none;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}
