.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    max-width: 600px;
    width: 100%;
    padding: 2rem 3rem;
    background-color: var(--color-bg-dark-form);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

.profile-card h2 {
    color: var(--color-turquoise);
    border-bottom: 2px solid var(--color-turquoise);
    padding-bottom: 0.5rem;
}

.profile-info p {
    padding: 0.5rem 0;
    margin: 0.3rem 0;
    font-size: 1.1rem;
    border-bottom: 1px solid var( --color-gray);
}

.profile-info strong {
    color: var(--color-accent);
}

.actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* Edit Profile */
.hidden {
    display: none !important;
}

.editable-input,
.readonly-input {
    width: 100%;
    padding: 0.3rem 0.5rem;
    margin-top: 0.2rem;
    background-color: #495057;
    border-radius: 5px;
    border: 1px solid #666;
    color: var(--color-white-main);
}

.readonly-input {
    cursor: not-allowed;
    opacity: 0.7;
}
