/* ===========
   REGISTER
============== */

.register-card {
    max-width: 750px;
}

.register-card .form-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group.phone-number {
    flex: 0.5;
}

/* Responsive */

@media (max-width: 768px) {
    .register-card .form-flex {
        flex-direction: column !important;
    }

    .register-card {
        padding: 1.5rem;
    }

    .form-flex {
        flex-direction: column;
    }
}