<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div class="offer-card ui-transition glass-effect" th:fragment="offerCard(offer, showViews)">

    <a th:href="@{/offers/details/{id}(id=${offer.id})}" class="offer-card-link">

        <div class="offer-image">
            <img th:src="${offer.profileImage}" alt="Car image" loading="lazy">
        </div>

        <div class="offer-info">
            <h3 th:text="${offer.modelBrandName + ' ' + offer.modelName}"></h3>
            <p class="offer-meta">
                <span th:text="#{offer.engine} + ' : ' + ${offer.engine}"></span>
                <span th:text="#{offer.transmission} + ' : ' + ${offer.transmission}"></span>
                <span th:text="#{offer.mileage} + ' : ' + ${offer.mileage} + ' ' + #{unit.km}"></span>
                <span th:text="#{offer.year} + ' : ' + ${offer.modelYear}"></span>
                <span th:text="#{offer.added} + ': ' + ${#temporals.format(offer.created, 'yyyy-MM-dd')}"></span>
            </p>

            <p class="offer-price"
               th:text="${offer.price} + ' ' + #{currency.bgn}">
            </p>

            <div class="views-counter ui-transition glass-effect"
                 th:if="${showViews}">
                <span class="eye-icon">👁️</span>
                <span th:text="#{offer.views} + ': ' + ${offer.views}"></span>
            </div>
        </div>
    </a>
</div>
</html>
