<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div class="offer-card ui-transition"  th:fragment="offerCard(offer, showViews)">

  <a th:href="@{/offers/details/{id}(id=${offer.id})}"
     class="offer-card-link">

    <div class="offer-image">
      <img th:src="${offer.profileImage}" alt="Car image" loading="lazy">
    </div>

    <div class="offer-info">
      <h3 th:text="${offer.modelBrandName + ' ' + offer.modelName}"></h3>
      <p class="offer-meta">
        <span th:text="${'Engine : ' + offer.engine}"></span>
        <span th:text="${'Transmission : ' + offer.transmission}"></span>
        <span th:text="${'Mileage :' + offer.mileage + ' km'}"></span>
      <p class="offer-year"
         th:text="${'Year :' + offer.modelYear}"></p>
      </p>

      <p class="offer-price" th:text="${offer.price + ' BGN'}"></p>

      <!-- Views (optional) -->
      <div class="views-counter ui-transition"
           th:if="${showViews}">
        <span class="eye-icon">👁️</span>
        <span th:text="'Views: ' + ${offer.views}"></span>
      </div>
    </div>
  </a>
</div>
</html>
