<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(additionalCss='/css/offers/add-offer.css')"></head>

<body class="auth-layout">

<header th:replace="fragments/navbar"></header>

<main class="main-content" role="main">
    <section>
        <h2 class="text-center" th:text="#{offer.add.title}">>Add Offer</h2>

        <form
                th:action="@{/offers}"
                th:method="POST"
                th:object="${offerBindingModel}"
                enctype="multipart/form-data"
                class="offer-form">

            <div class="form-flex">
                <div class="form-group">
                    <label for="vehicleType"
                           th:text="#{offer.vehicleType}">Vehicle Type</label>
                    <select id="vehicleType"
                            th:field="*{vehicleType}">
                        <option value="" th:text="#{offer.selectCategory}">- Select vehicle category -</option>
                        <option th:each="c : ${categories}"
                                th:value="${c.name()}"
                                th:text="#{${'category.' + c.name()}}">
                    </select>
                    <div th:if="${#fields.hasErrors('vehicleType')}"
                         th:errors="*{vehicleType}"
                         class="error-msg"></div>
                </div>

                <div class="form-group">
                    <label for="brand"
                           th:text="#{offer.brand}">Brand</label>
                    <select id="brand"
                            th:field="*{brand}">
                        <option value=""    th:text="#{offer.selectBrand}">- Select brand -</option>
                        <option th:each="b : ${brands}"
                                th:value="${b.name}"
                                th:text="${b.name}">
                        </option>
                    </select>
                    <div th:if="${#fields.hasErrors('brand')}"
                         th:errors="*{brand}"
                         class="error-msg">
                    </div>
                </div>
            </div>

            <div class="form-flex">
                <div class="form-group">
                    <label for="model" th:text="#{offer.model}">Model</label>
                    <select id="model" th:field="*{model}">
                        <option value="" th:text="#{offer.selectModel}">- Select model -</option>
                        <option
                                th:each="m : ${models}"
                                th:value="${m}"
                                th:text="${m}">
                        </option>
                    </select>
                    <div th:if="${#fields.hasErrors('model')}"
                         th:errors="*{model}"
                         class="error-msg"></div>
                </div>
                <div class="form-group">
                    <label for="price" th:text="#{offer.price}">Price</label>
                    <input id="price"
                           type="number"
                           min="0" th:placeholder="#{offer.price.placeholder}"
                           th:field="*{price}"/>
                    <div th:if="${#fields.hasErrors('price')}"
                         th:errors="*{price}"
                         class="error-msg"></div>
                </div>
            </div>

            <div class="form-flex">
                <div class="form-group">
                    <label for="mileage" th:text="#{offer.mileage}">Mileage</label>
                    <input id="mileage"
                           type="number"
                           min="0"
                           th:placeholder="#{offer.mileage.placeholder}"
                           th:field="*{mileage}"/>
                    <div th:if="${#fields.hasErrors('mileage')}"
                         th:errors="*{mileage}"
                         class="error-msg">
                    </div>
                </div>

                <div class="form-group">
                    <label for="engine" th:text="#{offer.engine}">Engine</label>
                    <select id="engine" th:field="*{engine}">
                        <option value="" th:text="#{offer.selectEngine}">- Select engine type -</option>
                        <option
                                th:each="e : ${engines}"
                                th:value="${e}"
                                th:text="#{${'engine.' + e.name()}}">
                        </option>
                    </select>
                    <div th:if="${#fields.hasErrors('engine')}"
                         th:errors="*{engine}"
                         class="error-msg"></div>
                </div>
            </div>

            <div class="form-flex">
                <div class="form-group">
                    <label for="transmission" th:text="#{offer.transmission}">Transmission</label>
                    <select id="transmission" th:field="*{transmission}">
                        <option value="" th:text="#{offer.selectTransmission}">- Select transmission type -</option>
                        <option th:each="t : ${transmissions}"
                                th:value="${t}"
                                th:text="#{${'transmission.' + t.name()}}">
                        </option>
                    </select>
                    <div
                            th:if="${#fields.hasErrors('transmission')}"
                            th:errors="*{transmission}"
                            class="error-msg"></div>
                </div>

                <div class="form-group">
                    <label for="year">Model Year</label>
                    <input id="year" type="number" placeholder="e.g. 2020" th:field="*{year}"/>
                    <div
                            th:if="${#fields.hasErrors('year')}"
                            th:errors="*{year}"
                            th:placeholder="#{offer.year.placeholder}"
                            class="error-msg"></div>
                </div>
            </div>

            <div class="form-flex">
                <div class="form-group">
                    <label for="condition" th:text="#{offer.condition}">Condition</label>
                    <select id="condition" th:field="*{condition}">
                        <option value="" th:text="#{offer.selectCondition}">- Select condition -</option>
                        <option th:each="c : ${conditions}"
                                th:value="${c}"
                                th:text="#{${'condition.' + c.name()}}">
                        </option>
                    </select>
                    <div
                            th:if="${#fields.hasErrors('condition')}"
                            th:errors="*{condition}"
                            class="error-msg"></div>
                </div>

                <div class="form-group">
                    <label for="color" th:text="#{offer.color}">Color</label>
                    <select id="color" th:field="*{color}">
                        <option value="" th:text="#{offer.selectColor}">- Select color -</option>
                        <option th:each="c : ${colors}"
                                th:value="${c}"
                                th:text="#{${'color.' + c.name()}}">
                        </option>
                    </select>
                    <div
                            th:if="${#fields.hasErrors('color')}"
                            th:errors="*{color}"
                            class="error-msg"></div>
                </div>
            </div>

            <div class="form-flex">
                <div class="form-group">
                    <label for="country" th:text="#{offer.country}">Country</label>
                    <select id="country" th:field="*{country}">
                        <option value="" th:text="#{offer.selectCountry}">- Select a country -</option>
                        <option th:each="c : ${countries}"
                                th:value="${c}"
                                th:text="#{${'country.' + c.name()}}">
                        </option>
                    </select>
                    <div th:if="${#fields.hasErrors('country')}"
                         th:errors="*{country}"
                         class="error-msg">
                    </div>
                </div>

                <div class="form-group">
                    <label for="city">City</label>
                    <select id="city" th:field="*{city}"
                            th:attr="data-selected-city=*{city}">
                        <option value="" th:text="#{offer.selectCity}">- Select city -
                        </option>
                        <option th:each="c : ${cities}"
                                th:value="${c}"
                                th:text="#{${'city.' + c.name()}}">
                        </option>

                    </select>
                    <div th:if="${#fields.hasErrors('city')}"
                         th:errors="*{city}"
                         class="error-msg"></div>
                </div>
            </div>

            <div class="form-group full-width">
                <label for="description" th:text="#{offer.description}">Description</label>
                <textarea id="description"
                          rows="3"
                          th:placeholder="#{offer.description.placeholder}"
                          th:field="*{description}">
                </textarea>
                <div th:if="${#fields.hasErrors('description')}"
                     th:errors="*{description}"
                     class="error-msg"></div>
            </div>

            <div class="form-group full-width">
                <label for="inputPictures" th:text="#{offer.pictures}">Add Pictures</label>
                <input id="inputPictures"
                       type="file" multiple
                       th:field="*{pictures}"/>
                <div th:if="${#fields.hasErrors('pictures')}"
                     th:errors="*{pictures}"
                     class="error-msg"></div>
            </div>
            <div class="button-holder">
                <button class="btn btn-submit" th:text="#{offer.submit}">Add offer</button>
            </div>
        </form>
    </section>
</main>

<footer th:replace="fragments/minimal-footer"></footer>

<script th:src="@{/js/loadModels.js}"></script>
<script th:src="@{/js/loadCitiesPerCountry.js}"></script>
</body>
</html>
