<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head">
</head>

<body>

    <div th:replace="fragments/navbar">
    </div>


<div class="container">
    <h2 class="text-center text-white m-3">All Brands</h2>
    <div class='row mb-4 d-flex justify-content-around'>
        <div th:each="brand : ${allBrands}"
             th:object="${brand}"
             class="brand-section col-md-5 mr-auto d-flex flex-column">
            <h2>Car brand:
                <span th:text="*{getName()}">Brand name</span>
            </h2>
            <div>Models:
                <table>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Start Year</th>
                        <th>End Year</th>
                        <th></th>
                    </tr>

                    <tr th:each="model : ${brand.models}" th:object="${model}">
                        <td th:text="*{id}">No</td>
                        <td th:text="*{getName()}">Model Name</td>
                        <td th:text="*{category}">Model Category</td>
                        <td th:text="*{startYear}">Model Start Year</td>
                        <td th:text="*{endYear}">Model End Year</td>
                        <td class="offers">
                        <td>
                        <a class="card-link" th:href="@{/offers(brand=${brand.name})}">See offers</a>
                        </td>
                        </td>
                    </tr>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
        <footer></footer>
    </div>
</div>
</body>
</html>

<body>

</body>