<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head">
</head>

<body>

<div>
    <div th:replace="fragments/navbar">
        Navbar
    </div>
</div>


<div class="container-fluid">
    <h5 class="text-center text-white mt-5">Welcome to MobiLeLe,
        <!-- TODO -->
<!--        <span-->
<!--                th:if="${@currentUser.isLoggedIn()}"-->
<!--                th:text="${@currentUser.username}">-->
<!--        </span>-->

<!--        <span th:unless="${@currentUser.isLoggedIn()}">-->
        Anonymous
        </span>
        !</h5>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
