<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(additionalCss='/css/users/login.css')"></head>

<body class="auth-layout">

<header th:replace="fragments/navbar"></header>

<main class="login-container auth-content">
    <div class="login-card">
        <h2 class="text-center mb-4">Login</h2>

        <form th:method="POST"
              th:action="@{/users/login}"
              class="login-form">

            <!-- Username -->
            <div class="form-group">
                <label for="username">Username</label>
                <input
                        th:value="${username}"
                        name="username"
                        id="username"
                        type="text"
                        minlength="2"
                        maxlength="50"
                        placeholder="Enter your username"
                        class="form-input">
            </div>

            <!-- Password -->
            <div class="form-group">
                <label for="password">Password</label>
                <input
                        id="password"
                        name="password"
                        type="password"
                        minlength="2"
                        maxlength="20"
                        placeholder="Enter your password"
                        class="form-input">
            </div>

            <!-- Error Message -->
            <div th:if="${login_error_message}" class="error-container">
                <p th:text="${login_error_message}" class="error-msg"></p>
            </div>

            <!-- Submit -->
            <div class="button-holder">
                <input type="submit" class="btn-submit" value="Login">
            </div>

            <!-- Register Redirect -->
            <p class="text-center mt-3 register-hint">
                Don’t have an account?
                <a th:href="@{/users/register}" class="register-link">Register here</a>
            </p>

        </form>
    </div>
</main>

<footer th:replace="fragments/minimal-footer"></footer>

</body>
</html>
