<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(
    additionalCss='/css/users/auth.css',
    extraCss='/css/users/login.css'
)"></head>

<body class="auth-layout">

<header th:replace="fragments/navbar"></header>

<main class="login-container auth-content">
    <div class="auth-card login-card">
        <h2 class="text-center mb-4" th:text="#{auth.login.title}">Login</h2>

        <form th:method="POST"
              th:action="@{/users/login}"
              class="auth-form">

            <!-- Username -->
            <div class="form-group">
                <label for="username" th:text="#{auth.username}">Username</label>
                <input
                        th:value="${username}"
                        name="username"
                        id="username"
                        type="text"
                        minlength="2"
                        maxlength="50"
                        th:placeholder="#{auth.placeholder.loginUsername}"
                        class="form-input">
            </div>

            <!-- Password -->
            <div class="form-group">
                <label for="password" th:text="#{auth.password}">Password</label>
                <input
                        id="password"
                        name="password"
                        type="password"
                        minlength="2"
                        maxlength="20"
                        th:placeholder="#{auth.placeholder.loginPassword}"
                        class="form-input">
            </div>

            <!-- Error Message -->
            <div th:if="${login_error_message}" class="error-container">
                <p th:text="${login_error_message}" class="error-msg"></p>
            </div>

            <!-- Submit -->
            <div class="button-holder">
                <input type="submit" class="btn btn-submit" th:value="#{auth.login.submit}">
            </div>

            <!-- Register Redirect -->
            <p class="text-center mt-3 register-hint"
               th:utext="#{auth.login.registerHint(@{/users/register},#{auth.login.registerHere}
   )}">
            </p>
        </form>
    </div>
</main>

<footer th:replace="fragments/minimal-footer"></footer>

</body>
</html>
