<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(additionalCss='/css/fragments/navbar.css')"></head>

<body>

<header th:replace="fragments/navbar"></header>

<div class="container">
    <h2 class="text-center text-white">Upload Offer</h2>
    <form
            th:action="@{/offers/add}"
            th:method="POST"
            th:object="${offerBindingModel}"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center"
            enctype="multipart/form-data">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="brand">Brand</label>
                <select
                        id="brand"
                        class="form-control"
                        onchange="loadModels()"
                        th:name="brand"
                        th:errorclass="is-invalid">
                    <option value="" selected disabled>- Select brand -</option>
                    <optgroup label="Brand name">
                        <option
                                th:each="brand : ${brands}"
                                th:text="${brand.getName()}"
                                th:value="${brand.getName()}"
                                th:selected="${brand.getName()} == *{brand}">
                        </option>
                    </optgroup>
                </select>
                <p class="errors alert alert-danger invalid-feedback">
                    Vehicle brand is required.
                </p>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="model">Model</label>
                <select id="model"
                        class="form-control"
                        th:name="model"
                        th:errorclass="is-invalid"
                        th:selected="${model} == *{model}">
                    <option value="" selected disabled>- Select model -</option>
                    <optgroup label="Model name">
                        <option
                                th:each="model : ${models}"
                                th:text="${model}"
                                th:value="${model}"
                                th:selected="${model} == *{model}">
                        </option>
                    </optgroup>
                </select>
                <p class="errors alert alert-danger invalid-feedback">
                    Vehicle model is required.
                </p>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold">Price</label>
                <input
                        id="price"
                        type="number"
                        min="0"
                        class="form-control"
                        placeholder="Suggested price"
                        th:field="*{price}"
                        th:errorclass="is-invalid"/>
                <p class="errors alert alert-danger invalid-feedback">
                    Suggested price is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="mileage" class="text-white font-weight-bold">Mileage</label>
                <input
                        id="mileage"
                        type="number"
                        min="0"
                        max="900000"
                        class="form-control"
                        placeholder="Mileage in kilometers"
                        th:field="*{mileage}"
                        th:errorclass="is-invalid"
                />
                <p class="errors alert alert-danger invalid-feedback">
                    Mileage in kilometers is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="engine">Engine</label>
                <select
                        id="engine"
                        class="form-control"
                        name="engine"
                        th:errorclass="is-invalid">
                    <option value="">- Select engine type -</option>
                    <option th:each="e : ${engines}"
                            th:text="${e}"
                            th:value="${e}"
                            th:selected="${e} == *{engine}">
                        Engine type
                    </option>
                </select>
                <p class="errors alert alert-danger invalid-feedback">
                    Engine type is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="transmission">Transmission</label>
                <select
                        name="transmission"
                        id="transmission"
                        class="form-control"
                        th:errorclass="is-invalid">
                    <option value="">- Select transmission type -</option>
                    <option th:each="t : ${transmissions}"
                            th:text="${t}"
                            th:value="${t}"
                            th:selected="${t} == *{transmission}">Transmission type
                    </option>
                </select>
                <p class="errors alert alert-danger invalid-feedback">
                    Transmission type is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="year" class="text-white font-weight-bold">Year</label>
                <input
                        id="year"
                        type="number"
                        step="1" class="form-control"
                        placeholder="Manufacturing year"
                        th:field="*{year}"
                        th:errorclass="is-invalid"/>
                <p class="errors alert alert-danger invalid-feedback"
                   th:if="${#fields.hasErrors('year')}"
                   th:errors="*{year}">
                   Year error message
                </p>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="category">Vehicle type</label>
                <select
                        name="category"
                        id="category"
                        class="form-control"
                        th:errorclass="is-invalid">
                    <option value="">- Select vehicle category -</option>
                    <option th:each="c : ${categories}"
                            th:text="${c}"
                            th:value="${c}"
                            th:selected="${c} == *{category}">Vehicle type
                    </option>
                </select>
                <p class="errors alert alert-danger invalid-feedback">
                    Vehicle category is required
                </p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="engine">Condition</label>
                <select
                        id="condition"
                        class="form-control"
                        name="condition"
                        th:errorclass="is-invalid">
                    <option value="">- Select condition -</option>
                    <option th:each="c : ${conditions}"
                            th:text="${c}"
                            th:value="${c}"
                            th:selected="${c} == *{condition}">
                        Condition
                    </option>
                </select>
                <p class="errors alert alert-danger invalid-feedback">
                    Condition is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="transmission">Color</label>
                <select
                        name="color"
                        id="color"
                        class="form-control"
                        th:errorclass="is-invalid">
                    <option value="">- Choose color -</option>
                    <option th:each="c : ${colors}"
                            th:text="${c}"
                            th:value="${c}"
                            th:selected="${c} == *{color}">Color
                    </option>
                </select>
                <p class="errors alert alert-danger invalid-feedback">
                    Color is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="text-white font-weight-bold" for="description">Description</label>
            <textarea
                    id="description"
                    type="textarea"
                    class="form-control"
                    rows="3"
                    placeholder="Description"
                    th:field="*{description}"
                    th:errorclass="is-invalid"
            >
            </textarea>
            <p class="errors alert alert-danger invalid-feedback">
                Description must at least 10 symbols long.
            </p>
        </div>
        <div class="form-group">
            <label for="inputPictures">Add pictures</label>
            <input type="file"
                   th:field="*{pictures}"
                   id="inputPictures"
                   class="form-control-file" multiple>
            <p th:if="${#fields.hasErrors('pictures')}"
               th:errors="*{pictures}" class="errors alert alert-danger"></p>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>

</body>
<script th:src="@{/js/loadModels.js}"></script>
</html>
