<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(additionalCss='/css/offers-categories.css')"></head>

<body>
<header th:replace="fragments/navbar"></header>

<main class="vehicle-selector-container">
    <div class="vehicle-grid">
        <div class="vehicle-card">
            <i class="fa-solid fa-car-side"></i>
            <h3>Cars</h3>
        </div>
        <div class="vehicle-card">
            <i class="fa-solid fa-truck-pickup"></i>
            <h3>SUVs</h3>
        </div>
        <div class="vehicle-card">
            <i class="fa-solid fa-bus-simple"></i>
            <h3>Buses</h3>
        </div>
        <div class="vehicle-card">
            <i class="fas fa-truck"></i>
            <h3>Trucks</h3>
        </div>
        <div class="vehicle-card">
            <i class="fas fa-motorcycle"></i>
            <h3>Motorcycles</h3>
        </div>
        <div class="vehicle-card">
            <i class="fa-solid fa-caravan"></i>
            <h3>Caravans & Campers</h3>
        </div>

    </div>
</main>
<footer></footer>
</body>

</html>