<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/head :: head(additionalCss='/css/offers/offers-find.css')"></head>

<body class="auth-layout">
<header th:replace="fragments/navbar"></header>

<main class="auth-content">
    <div class="container">
        <h2 class="text-center section-title vehicle-search-title d-flex justify-content-center align-items-center gap-2">
            <span th:text="#{search.for}"></span>
            <span class="vehicle-title-icon"><i th:class="${vehicleType.iconClass}"></i></span>
        </h2>

        <form
                th:action="@{/offers/find/{vehicleType}(vehicleType=${vehicleType})}"
                th:method="POST"
                th:object="${offersFindBindingModel}"
                class="main-form mx-auto col-lg-8 p-4 p-md-5 rounded-4 shadow-lg bg-dark bg-opacity-75">
            <input type="hidden" id="vehicleType" th:value="${vehicleType}">
            <div class="row g-4">

                <!-- Brand -->
                <div class="form-group col-md-6 mb-4">
                    <label for="brand" class="form-label fw-bold fs-6 text-uppercase text-light mb-2"
                           th:text="#{form.brand}">Brand</label>
                    <select
                            id="brand"
                            class="form-control"
                            th:name="brand">
                        <option value="" selected disabled
                                th:text="#{offer.selectBrand}">>- Select brand -
                        </option>
                        <option
                                th:each="brand : ${brands}"
                                th:text="${brand.getName()}"
                                th:value="${brand.getName()}"
                                th:selected="${brand.getName()} == *{brand}">
                        </option>
                    </select>
                    <div th:if="${#fields.hasErrors('brand')}"
                         th:errors="*{brand}"
                         class="error-msg">
                    </div>
                </div>

                <!-- Model -->
                <div class="form-group col-md-6 mb-4">
                    <label th:text="#{offer.model}" for="model"
                           class="form-label fw-bold fs-6 text-uppercase text-light mb-2">Model</label>
                    <select id="model"
                            class="form-control"
                            th:name="model"
                            th:selected="${model} == *{model}">
                        <option th:text="#{offer.selectModel}" value="" selected disabled>- Select model -</option>
                        <option
                                th:each="model : ${models}"
                                th:text="${model}"
                                th:value="${model}"
                                th:selected="${model} == *{model}">
                        </option>
                    </select>
                    <div th:if="${#fields.hasErrors('model')}"
                         th:errors="*{model}"
                         class="error-msg"></div>
                </div>

                <!-- Price -->
                <div class="form-group col-md-6 mb-4">
                    <label th:text="#{offer.price}" for="price"
                           class="form-label fw-bold fs-6 text-uppercase text-light mb-2">Price</label>
                    <select th:field="*{priceComparison}" id="priceComparison">
                        <option value="under"
                                th:selected="${offersFindBindingModel.priceComparison == 'under'}"
                                th:text="#{form.price.under}">
                            Under
                        </option>
                        <option value="between"
                                th:selected="${offersFindBindingModel.priceComparison == 'between'}"
                                th:text="#{form.price.between}">
                            Between
                        </option>
                        <option value="above"
                                th:selected="${offersFindBindingModel.priceComparison == 'above'}"
                                th:text="#{form.price.above}">Above
                        </option>
                    </select>
                    <input
                            id="price"
                            type="number"
                            min="0"
                            class="form-control"
                            placeholder="Suggested price"
                            th:field="*{price}">
                    <input
                            class="form-control mt-2"
                            type="number" th:field="*{priceMax}" id="priceMax" placeholder="Max price"
                            th:value="${offersFindBindingModel.priceMax}"
                            th:style="${offersFindBindingModel.priceComparison == 'between' ? 'display:inline-block;' : 'display:none;'}">
                    <div th:if="${#fields.hasErrors('price')}"
                         th:errors="*{price}"
                         class="error-msg"></div>
                </div>

                <!-- Mileage -->
                <div class="form-group col-md-6 mb-4">
                    <label th:text="#{offer.mileage}" for="mileage"
                           class="form-label fw-bold fs-6 text-uppercase text-light mb-2">Mileage</label>
                    <select th:field="*{mileageComparison}" id="mileageComparison">
                        <option
                                value="under"
                                th:selected="${offersFindBindingModel.mileageComparison == 'under'}"
                                th:text="#{offer.mileage.under}">
                            Under
                        </option>
                        <option value="between"
                                th:selected="${offersFindBindingModel.mileageComparison == 'between'}"
                                th:text="#{offer.mileage.between}">
                            Between
                        </option>
                        <option value="above"
                                th:selected="${offersFindBindingModel.mileageComparison == 'above'}"
                                th:text="#{offer.mileage.above}">
                            Above
                        </option>
                    </select>
                    <input
                            id="mileage"
                            type="number"
                            min="0"
                            max="900000"
                            class="form-control"
                            th:placeholder="#{offer.mileage.placeholder}"
                            th:field="*{mileage}">
                    <input
                            class="form-control mt-2"
                            type="number" th:field="*{mileageMax}" id="mileageMax" placeholder="Max mileage"
                            th:value="${offersFindBindingModel.mileageMax}"
                            th:style="${offersFindBindingModel.mileageComparison == 'between' ? 'display:inline-block;' : 'display:none;'}">
                    <div th:if="${#fields.hasErrors('mileage')}"
                         th:errors="*{mileage}"
                         class="error-msg">
                    </div>
                </div>

                <!-- Engine -->
                <div class="form-group col-md-6 mb-4">
                    <label th:text="#{offer.engine}" for="engine"
                           class="form-label fw-bold fs-6 text-uppercase text-light mb-2">Engine</label>
                    <select
                            id="engine"
                            class="form-control"
                            name="engine">
                        <option value="" th:text="#{offer.selectEngine}">- Select engine type -</option>
                        <option th:each="e : ${engines}"
                                th:text="#{${'engine.' + e.name()}}"
                                th:value="${e}"
                                th:selected="${e} == *{engine}">
                            Engine type
                        </option>
                    </select>
                    <div th:if="${#fields.hasErrors('engine')}"
                         th:errors="*{engine}"
                         class="error-msg"></div>
                </div>

                <!-- Transmission -->
                <div class="form-group col-md-6 mb-4">
                    <label th:text="#{offer.transmission}" for="transmission"
                           class="form-label fw-bold fs-6 text-uppercase text-light mb-2">Transmission</label>
                    <select
                            name="transmission"
                            id="transmission"
                            class="form-control">
                        <option value=""
                                th:text="#{offer.selectTransmission}">- Select transmission type -
                        </option>
                        <option th:each="t : ${transmissions}"
                                th:text="#{${'transmission.' + t.name()}}"
                                th:value="${t}"
                                th:selected="${t} == *{transmission}">Transmission type
                        </option>
                    </select>
                    <div
                            th:if="${#fields.hasErrors('transmission')}"
                            th:errors="*{transmission}"
                            class="error-msg"></div>
                </div>

                <!-- Year -->
                <div class="form-group col-md-6 mb-4">
                    <label th:text="#{offer.year}" for="year"
                           class="form-label fw-bold fs-6 text-uppercase text-light mb-2">Year</label>
                    <select th:field="*{yearComparison}" id="yearComparison">
                        <option
                                th:text="#{form.year.before}"
                                value="under"
                                th:selected="${offersFindBindingModel.yearComparison == 'under'}">
                            Before
                        </option>
                        <option
                                th:text="#{form.year.between}"
                                value="between"
                                th:selected="${offersFindBindingModel.yearComparison == 'between'}">
                            Between
                        </option>
                        <option
                                th:text="#{form.year.after}"
                                value="above" th:selected="${offersFindBindingModel.yearComparison == 'above'}">
                            After
                        </option>
                    </select>
                    <input
                            id="year"
                            type="number"
                            step="1" class="form-control"
                            th:data-ph-default="#{form.year.placeholder}"
                            th:field="*{year}"/>
                    <input
                            type="number"
                            th:field="*{yearMax}"
                            class="form-control mt-2"
                            id="yearMax"
                            th:placeholder="#{form.year.max}"
                            th:value="${offersFindBindingModel.yearMax}"
                            th:style="${offersFindBindingModel.yearComparison == 'between' ? 'display:inline-block;' : 'display:none;'}">
                    <div th:if="${#fields.hasErrors('year')}"
                         th:errors="*{mileage}"
                         class="error-msg">
                    </div>
                </div>

                <!-- Color -->
                <div class="form-group col-md-6 mb-3">
                    <label th:text="#{offer.color}"
                           for="color"
                           class="form-label fw-bold fs-6 text-uppercase text-light mb-2">Color</label>
                    <select
                            name="color"
                            id="color"
                            class="form-control">
                        <option value=""
                                th:text="#{offer.selectColor}">- Choose color -
                        </option>
                        <option th:each="c : ${colors}"
                                th:text="#{${'color.' + c.name()}}"
                                th:value="${c}"
                                th:selected="${c} == *{color}">Color
                        </option>
                    </select>
                    <div
                            th:if="${#fields.hasErrors('color')}"
                            th:errors="*{color}"
                            class="error-msg"></div>
                </div>

                <!-- Country -->
                <div class="form-group col-md-6 mb-4">
                    <label th:text="#{offer.country}" for="country"
                           class="form-label fw-bold fs-6 text-uppercase text-light mb-2">Country</label>
                    <select id="country" name="country" class="form-control"
                            th:field="*{country}">
                        <option value="" th:text="#{offer.selectCountry}">- Select a country -</option>
                        <option th:each="c : ${countries}"
                                th:value="${c}"
                                th:text="#{${'country.' + c.name()}}">>
                        </option>
                    </select>
                    <div th:if="${#fields.hasErrors('country')}"
                         th:errors="*{country}"
                         class="error-msg">
                    </div>
                </div>

                <!-- City -->
                <div class="form-group col-md-6 mb-4">
                    <label for="city" class="form-label fw-bold fs-6 text-uppercase text-light mb-2">City</label>
                    <select id="city"
                            class="form-control"
                            th:field="*{city}">
                        <option value="" th:text="#{offer.selectCity}">- Select a city -</option>
                        <option th:each="c : ${cities}"
                                th:value="${c}"
                                th:text="#{${'city.' + c.name()}}">
                        </option>
                    </select>
                    <div th:if="${#fields.hasErrors('city')}"
                         th:errors="*{city}"
                         class="error-msg"></div>
                </div>

                <!-- Condition -->
                <div class="form-group col-md-6 mb-3">
                    <label th:text="#{offer.condition}"
                           for="condition"
                           class="form-label fw-bold fs-6 text-uppercase text-light mb-2">Condition</label>
                    <select
                            id="condition"
                            class="form-control"
                            name="condition">
                        <option value="">- Select condition -</option>
                        <option th:each="c : ${conditions}"
                                th:text="#{${'condition.' + c.name()}}"
                                th:value="${c}"
                                th:selected="${c} == *{condition}">
                            Condition
                        </option>
                    </select>
                    <div
                            th:if="${#fields.hasErrors('condition')}"
                            th:errors="*{condition}"
                            class="error-msg"></div>
                </div>

                <div class="col-12 d-flex justify-content-center mt-4">
                    <div>
                        <button class="btn btn-submit" th:text="#{button.search}">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<footer th:replace="fragments/minimal-footer"></footer>
</body>

<script th:src="@{/js/loadModels.js}"></script>
<script th:src="@{/js/loadCitiesPerCountry.js}"></script>
<script th:src="@{/js/toggleSearchInputs.js}"></script>

</html>