<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/head">

<body class="auth-layout">
<header th:replace="fragments/navbar"></header>

<main class="auth-content">
    <div class="container">
        <div class="text-center">
            <h2 class="text-center section-title"
                th:text="'Search for ' + ${vehicleType.label} + ' offers'">></h2>
        </div>
        <form
                th:action="@{/offers/find/{vehicleType}(vehicleType=${vehicleType})}"
                th:method="POST"
                th:object="${offersFindBindingModel}"
                class="main-form mx-auto col-lg-8 p-4 p-md-5 rounded-4 shadow-lg bg-dark bg-opacity-75">
            <input type="hidden" id="vehicleType" th:value="${vehicleType}">
            <div class="row g-4">

                <!-- Brand -->
                <div class="form-group col-md-6 mb-4">
                    <label for="brand" class="form-label fw-bold fs-6 text-uppercase text-light mb-2"
                           th:text="#{form.brand}">Brand</label>
                    <select
                            id="brand"
                            class="form-control"
                            th:name="brand"
                            th:errorclass="is-invalid">
                        <option value="" selected disabled
                                th:text="#{offer.selectBrand}">>- Select brand -
                        </option>
                        <optgroup label="Brand name">
                            <option
                                    th:each="brand : ${brands}"
                                    th:text="${brand.getName()}"
                                    th:value="${brand.getName()}"
                                    th:selected="${brand.getName()} == *{brand}">
                            </option>
                        </optgroup>
                    </select>
                    <p class="invalid-feedback error-msg">
                        Vehicle brand is required.
                    </p>
                </div>

                <!-- Model -->
                <div class="form-group col-md-6 mb-4">
                    <label th:text="#{offer.model}" for="model"
                           class="form-label fw-bold fs-6 text-uppercase text-light mb-2">Model</label>
                    <select id="model"
                            class="form-control"
                            th:name="model"
                            th:errorclass="is-invalid"
                            th:selected="${model} == *{model}">
                        <option th:text="#{offer.selectModel}" value="" selected disabled>- Select model -</option>
                        <optgroup label="Model name">
                            <option
                                    th:each="model : ${models}"
                                    th:text="${model}"
                                    th:value="${model}"
                                    th:selected="${model} == *{model}">
                            </option>
                        </optgroup>
                    </select>
                    <p class="invalid-feedback error-msg">
                        Vehicle model is required.
                    </p>
                </div>

                <!-- Price -->
                <div class="form-group col-md-6 mb-4">
                    <label for="price" class="form-label fw-bold fs-6 text-uppercase text-light mb-2">Price</label>
                    <select th:field="*{priceComparison}" id="priceComparison">
                        <option value="under"
                                th:selected="${offersFindBindingModel.priceComparison == 'under'}"
                                th:text="#{form.price.under}">
                            Under
                        </option>
                        <option value="between"
                                th:selected="${offersFindBindingModel.priceComparison == 'between'}"
                                th:text="#{form.price.between}">
                            Between
                        </option>
                        <option value="above"
                                th:selected="${offersFindBindingModel.priceComparison == 'above'}"
                                th:text="#{form.price.above}">Above
                        </option>
                    </select>
                    <input
                            id="price"
                            type="number"
                            min="0"
                            class="form-control"
                            placeholder="Suggested price"
                            th:field="*{price}"
                            th:errorclass="is-invalid"/>
                    <input
                            class="form-control mt-2"
                            type="number" th:field="*{priceMax}" id="priceMax" placeholder="Max price"
                            th:value="${offersFindBindingModel.priceMax}"
                            th:style="${offersFindBindingModel.priceComparison == 'between' ? 'display:inline-block;' : 'display:none;'}">
                    <p class="invalid-feedback error-msg">
                        Suggested price is required.
                    </p>
                </div>

                <!-- Mileage -->
                <div class="form-group col-md-6 mb-4">
                    <label th:text="#{offer.mileage}" for="mileage" class="form-label fw-bold fs-6 text-uppercase text-light mb-2">Mileage</label>
                    <select th:field="*{mileageComparison}" id="mileageComparison">
                        <option
                                value="under"
                                th:selected="${offersFindBindingModel.mileageComparison == 'under'}"
                                th:text="#{offer.mileage.under}">
                            Under
                        </option>
                        <option value="between"
                                th:selected="${offersFindBindingModel.mileageComparison == 'between'}"
                                th:text="#{offer.mileage.between}">
                            Between
                        </option>
                        <option value="above"
                                th:selected="${offersFindBindingModel.mileageComparison == 'above'}"
                                th:text="#{offer.mileage.above}">
                            Above
                        </option>
                    </select>
                    <input
                            id="mileage"
                            type="number"
                            min="0"
                            max="900000"
                            class="form-control"
                            th:placeholder="#{offer.mileage.placeholder}"
                            th:field="*{mileage}"
                            th:errorclass="is-invalid"/>
                    <input
                            class="form-control mt-2"
                            type="number" th:field="*{mileageMax}" id="mileageMax" placeholder="Max mileage"
                            th:value="${offersFindBindingModel.mileageMax}"
                            th:style="${offersFindBindingModel.mileageComparison == 'between' ? 'display:inline-block;' : 'display:none;'}">
                    <p class="invalid-feedback error-msg">
                        Mileage in kilometers is required.
                    </p>
                </div>

                <!-- Engine -->
                <div class="form-group col-md-6 mb-4">
                    <label for="engine" class="form-label fw-bold fs-6 text-uppercase text-light mb-2">Engine</label>
                    <select
                            id="engine"
                            class="form-control"
                            name="engine"
                            th:errorclass="is-invalid">
                        <option value="">- Select engine type -</option>
                        <option th:each="e : ${engines}"
                                th:text="${e}"
                                th:value="${e}"
                                th:selected="${e} == *{engine}">
                            Engine type
                        </option>
                    </select>
                    <p class="invalid-feedback error-msg">
                        Engine type is required.
                    </p>
                </div>

                <div class="form-group col-md-6 mb-4">
                    <label for="transmission" class="form-label fw-bold fs-6 text-uppercase text-light mb-2">Transmission</label>
                    <select
                            name="transmission"
                            id="transmission"
                            class="form-control"
                            th:errorclass="is-invalid">
                        <option value="">- Select transmission type -</option>
                        <option th:each="t : ${transmissions}"
                                th:text="${t}"
                                th:value="${t}"
                                th:selected="${t} == *{transmission}">Transmission type
                        </option>
                    </select>
                    <p class="invalid-feedback error-msg">
                        Transmission type is required.
                    </p>
                </div>

                <div class="form-group col-md-6 mb-4">
                    <label for="year" class="form-label fw-bold fs-6 text-uppercase text-light mb-2">Year</label>
                    <select th:field="*{yearComparison}" id="yearComparison">
                        <option value="under" th:selected="${offersFindBindingModel.yearComparison == 'under'}">
                            Before
                        </option>
                        <option value="between" th:selected="${offersFindBindingModel.yearComparison == 'between'}">
                            Between
                        </option>
                        <option value="above" th:selected="${offersFindBindingModel.yearComparison == 'above'}">
                            After
                        </option>
                    </select>
                    <input
                            id="year"
                            type="number"
                            step="1" class="form-control"
                            placeholder="Manufacturing year"
                            th:field="*{year}"
                            th:errorclass="is-invalid"/>
                    <input
                            type="number" th:field="*{yearMax}"
                            class="form-control mt-2"
                            id="yearMax"
                            placeholder="To year"
                            th:value="${offersFindBindingModel.yearMax}"
                            th:style="${offersFindBindingModel.yearComparison == 'between' ? 'display:inline-block;' : 'display:none;'}">
                    <p class="invalid-feedback error-msg"
                       th:if="${#fields.hasErrors('year')}"
                       th:errors="*{year}">
                        Year error message
                    </p>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label for="color" class="form-label fw-bold fs-6 text-uppercase text-light mb-2">Color</label>
                    <select
                            name="color"
                            id="color"
                            class="form-control"
                            th:errorclass="is-invalid">
                        <option value="">- Choose color -</option>
                        <option th:each="c : ${colors}"
                                th:text="${c}"
                                th:value="${c}"
                                th:selected="${c} == *{color}">Color
                        </option>
                    </select>
                    <p class="invalid-feedback error-msg">
                        Color is required.
                    </p>
                </div>

                <div class="form-group col-md-6 mb-4">
                    <label for="country" class="form-label fw-bold fs-6 text-uppercase text-light mb-2">Country</label>
                    <select id="country" name="country" class="form-control"
                            th:field="*{country}"
                            th:errorclass="is-invalid">
                        <option value="">-- Select a country --</option>
                        <option th:each="c : ${countries}"
                                th:value="${c}"
                                th:text="${c}"></option>
                    </select>
                    <p class="invalid-feedback error-msg">
                        Country is required
                    </p>
                </div>

                <div class="form-group col-md-6 mb-4">
                    <label for="city" class="form-label fw-bold fs-6 text-uppercase text-light mb-2">City</label>
                    <select id="city"
                            class="form-control"
                            th:field="*{city}"
                            th:errorclass="is-invalid">
                        <option value="">-- Select a city --</option>
                    </select>
                    <p class="invalid-feedback error-msg">
                        City is required
                    </p>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label for="condition"
                           class="form-label fw-bold fs-6 text-uppercase text-light mb-2">Condition</label>
                    <select
                            id="condition"
                            class="form-control"
                            name="condition"
                            th:errorclass="is-invalid">
                        <option value="">- Select condition -</option>
                        <option th:each="c : ${conditions}"
                                th:text="${c}"
                                th:value="${c}"
                                th:selected="${c} == *{condition}">
                            Condition
                        </option>
                    </select>
                    <p class="invalid-feedback error-msg">
                        Condition is required.
                    </p>
                </div>

                <div class="col-12 d-flex justify-content-center mt-4">
                    <div>
                        <button class="btn btn-submit">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<footer th:replace="fragments/minimal-footer"></footer>
</body>

<script th:src="@{/js/loadModels.js}"></script>
<script th:src="@{/js/loadCitiesPerCountry.js}"></script>
<script th:src="@{/js/toggleSearchInputs.js}"></script>

</html>