<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head(additionalCss='/css/fragments/navbar.css')"></head>

<body>
<header th:replace="fragments/navbar :: navbar"></header>

<main>
    <div class="container">
        <h2 class="text-center text-white"
            th:text="'Search ' + ${vehicleType} + ' offers'">></h2>
        <form
                th:action="@{/offers/find/{vehicleType}(vehicleType=${vehicleType})}"
                th:method="POST"
                th:object="${offersFindBindingModel}"
                class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
            <input type="hidden" id="vehicleType" th:value="${vehicleType}">
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center text-white font-weight-bold" for="brand">Brand</label>
                    <select
                            id="brand"
                            class="form-control"
                            onchange="loadModels()"
                            th:name="brand"
                            th:errorclass="is-invalid">
                        <option value="" selected disabled>- Select brand -</option>
                        <optgroup label="Brand name">
                            <option
                                    th:each="brand : ${brands}"
                                    th:text="${brand.getName()}"
                                    th:value="${brand.getName()}"
                                    th:selected="${brand.getName()} == *{brand}">
                            </option>
                        </optgroup>
                    </select>
                    <p class="errors alert alert-danger invalid-feedback">
                        Vehicle brand is required.
                    </p>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label class="text-center text-white font-weight-bold" for="model">Model</label>
                    <select id="model"
                            class="form-control"
                            th:name="model"
                            th:errorclass="is-invalid"
                            th:selected="${model} == *{model}">
                        <option value="" selected disabled>- Select model -</option>
                        <optgroup label="Model name">
                            <option
                                    th:each="model : ${models}"
                                    th:text="${model}"
                                    th:value="${model}"
                                    th:selected="${model} == *{model}">
                            </option>
                        </optgroup>
                    </select>
                    <p class="errors alert alert-danger invalid-feedback">
                        Vehicle model is required.
                    </p>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label for="price" class="text-white font-weight-bold">Price</label>
                    <select th:field="*{priceComparison}" id="priceComparison" onchange="toggleMaxInput('price')">
                        <option value="under" th:selected="${offersFindBindingModel.priceComparison == 'under'}">Under
                        </option>
                        <option value="between" th:selected="${offersFindBindingModel.priceComparison == 'between'}">
                            Between
                        </option>
                        <option value="above" th:selected="${offersFindBindingModel.priceComparison == 'above'}">Above
                        </option>
                    </select>
                    <input
                            id="price"
                            type="number"
                            min="0"
                            class="form-control"
                            placeholder="Suggested price"
                            th:field="*{price}"
                            th:errorclass="is-invalid"/>
                    <input type="number" th:field="*{priceMax}" id="priceMax" placeholder="Max price"
                           th:value="${offersFindBindingModel.priceMax}"
                           th:style="${offersFindBindingModel.priceComparison == 'between' ? 'display:inline-block;' : 'display:none;'}">
                    <p class="errors alert alert-danger invalid-feedback">
                        Suggested price is required.
                    </p>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="mileage" class="text-white font-weight-bold">Mileage</label>
                    <select th:field="*{mileageComparison}" id="mileageComparison" onchange="toggleMaxInput('mileage')">
                        <option value="under" th:selected="${offersFindBindingModel.mileageComparison == 'under'}">
                            Under
                        </option>
                        <option value="between" th:selected="${offersFindBindingModel.mileageComparison == 'between'}">
                            Between
                        </option>
                        <option value="above" th:selected="${offersFindBindingModel.mileageComparison == 'above'}">
                            Above
                        </option>
                    </select>
                    <input
                            id="mileage"
                            type="number"
                            min="0"
                            max="900000"
                            class="form-control"
                            placeholder="Mileage in km"
                            th:field="*{mileage}"
                            th:errorclass="is-invalid"
                    />
                    <input type="number" th:field="*{mileageMax}" id="mileageMax" placeholder="Max mileage"
                           th:value="${offersFindBindingModel.mileageMax}"
                           th:style="${offersFindBindingModel.mileageComparison == 'between' ? 'display:inline-block;' : 'display:none;'}">
                    <p class="errors alert alert-danger invalid-feedback">
                        Mileage in kilometers is required.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center text-white font-weight-bold" for="engine">Engine</label>
                    <select
                            id="engine"
                            class="form-control"
                            name="engine"
                            th:errorclass="is-invalid">
                        <option value="">- Select engine type -</option>
                        <option th:each="e : ${engines}"
                                th:text="${e}"
                                th:value="${e}"
                                th:selected="${e} == *{engine}">
                            Engine type
                        </option>
                    </select>
                    <p class="errors alert alert-danger invalid-feedback">
                        Engine type is required.
                    </p>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center text-white font-weight-bold" for="transmission">Transmission</label>
                    <select
                            name="transmission"
                            id="transmission"
                            class="form-control"
                            th:errorclass="is-invalid">
                        <option value="">- Select transmission type -</option>
                        <option th:each="t : ${transmissions}"
                                th:text="${t}"
                                th:value="${t}"
                                th:selected="${t} == *{transmission}">Transmission type
                        </option>
                    </select>
                    <p class="errors alert alert-danger invalid-feedback">
                        Transmission type is required.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="year" class="text-white font-weight-bold">Year</label>
                    <select th:field="*{yearComparison}" id="yearComparison" onchange="toggleMaxInput('year')">
                        <option value="under" th:selected="${offersFindBindingModel.yearComparison == 'under'}">
                            Before
                        </option>
                        <option value="between" th:selected="${offersFindBindingModel.yearComparison == 'between'}">
                            Between
                        </option>
                        <option value="above" th:selected="${offersFindBindingModel.yearComparison == 'above'}">
                            After
                        </option>
                    </select>
                    <input
                            id="year"
                            type="number"
                            step="1" class="form-control"
                            placeholder="Manufacturing year"
                            th:field="*{year}"
                            th:errorclass="is-invalid"/>
                    <input type="number" th:field="*{yearMax}" id="yearMax" placeholder="To year"
                           th:value="${offersFindBindingModel.yearMax}"
                           th:style="${offersFindBindingModel.yearComparison == 'between' ? 'display:inline-block;' : 'display:none;'}">
                    <p class="errors alert alert-danger invalid-feedback"
                       th:if="${#fields.hasErrors('year')}"
                       th:errors="*{year}">
                        Year error message
                    </p>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center text-white font-weight-bold" for="transmission">Color</label>
                    <select
                            name="color"
                            id="color"
                            class="form-control"
                            th:errorclass="is-invalid">
                        <option value="">- Choose color -</option>
                        <option th:each="c : ${colors}"
                                th:text="${c}"
                                th:value="${c}"
                                th:selected="${c} == *{color}">Color
                        </option>
                    </select>
                    <p class="errors alert alert-danger invalid-feedback">
                        Color is required.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center text-white font-weight-bold" for="engine">Condition</label>
                    <select
                            id="condition"
                            class="form-control"
                            name="condition"
                            th:errorclass="is-invalid">
                        <option value="">- Select condition -</option>
                        <option th:each="c : ${conditions}"
                                th:text="${c}"
                                th:value="${c}"
                                th:selected="${c} == *{condition}">
                            Condition
                        </option>
                    </select>
                    <p class="errors alert alert-danger invalid-feedback">
                        Condition is required.
                    </p>
                </div>

                <div class="row">
                    <div class="col col-md-4">
                        <div class="button-holder d-flex">
                            <input
                                    id="search-btn"
                                    type="submit"
                                    class="btn btn-info btn-lg" value="Search "/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</main>
</body>
<script th:src="@{/js/loadModels.js}"></script>
<script th:src="@{/js/toggleSearchInputs.js}"></script>

</html>