<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head">
</head>

<body>
    <div th:replace="fragments/navbar">
    </div>

<div class="container">
    <h2 class="text-center text-white">Update Offer</h2>
    <form
            th:object="${offerBindingModel}"
            th:action="@{/offers/update/{id}(id=*{id})}"
            th:method="patch"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="brand">Brand</label>
                <select
                        id="brand"
                        class="form-control"
                        name="brand"
                        th:errorclass="is-invalid">
                    <option
                            th:text="*{getBrand()}"
                            th:value="*{getBrand()}">
                    </option>
                </select>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="model">Model</label>
                <select
                        id="model"
                        class="form-control"
                        name="model"
                        th:errorclass="is-invalid">
                    <option value="">- Select model -</option>
                    <optgroup label="Model name">
                        <option
                                th:each="model : ${models}"
                                th:text="${model}"
                                th:value="${model}"
                                th:selected="${model} == *{model}">
                        </option>
                    </optgroup>
                </select>
                <p class="errors alert alert-danger invalid-feedback">
                    Vehicle model is required.
                </p>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold">Price</label>
                <input
                        th:field="*{price}"
                        th:errorclass="is-invalid"
                        id="price"
                        type="number" min="0" step="100"
                        class="form-control"
                        placeholder="Suggested price"/>
                <p class="errors alert alert-danger invalid-feedback">
                    Suggested price is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="engine">Engine</label>
                <select
                        id="engine"
                        class="form-control"
                        name="engine"
                th:errorclass="is-invalid">
                <option value="">- Select engine type -</option>
                <option th:each="e : ${engines}"
                        th:text="${e}"
                        th:value="${e}"
                        th:selected="${e} == *{engine}">
                    Engine type
                </option>
                </select>
                <p class="errors alert alert-danger invalid-feedback">
                    Engine type is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="transmission">Transmission</label>
                <select
                        name="transmission"
                        id="transmission"
                        class="form-control"
                        th:errorclass="is-invalid">
                    <option value="">- Select transmission type -</option>
                    <option th:each="t : ${transmissions}"
                            th:text="${t}"
                            th:value="${t}"
                            th:selected="${t} == *{transmission}">Transmission type
                    </option>
                </select>
                <p class="errors alert alert-danger invalid-feedback">
                    Transmission type is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="year" class="text-white font-weight-bold">Year</label>
                <input
                        id="year"
                        type="number"
                        min="1900" max="2099"
                        step="1" class="form-control"
                        placeholder="Manufacturing year"
                        th:field="*{year}"
                        th:errorclass="is-invalid"/>
                <p class="errors alert alert-danger invalid-feedback">
                    Manufacturing year is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="mileage" class="text-white font-weight-bold">Mileage</label>
                <input
                        id="mileage"
                        type="number"
                        min="0"
                        max="900000"
                        class="form-control"
                        placeholder="Mileage in kilometers"
                        th:field="*{mileage}"
                        th:errorclass="is-invalid"
                />
                <p class="errors alert alert-danger invalid-feedback">
                    Mileage in kilometers is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="text-white font-weight-bold" for="description">Description</label>
            <textarea
                    id="description"
                    type="textarea"
                    class="form-control"
                    rows="3"
                    placeholder="Description"
                    th:field="*{description}"
                    th:errorclass="is-invalid"
            >
            </textarea>
            <p class="errors alert alert-danger invalid-feedback">
                Description is required.
            </p>
        </div>
        <div class="form-group">
            <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
            <input
                    id="imageUrl"
                    type="url"
                    class="form-control"
                    placeholder="Put vehicle image URL here"
                    th:field="*{imageUrl}"
                    th:errorclass="is-invalid"
            >
            <p class="errors alert alert-danger invalid-feedback">
                Vehicle image URL is required.
            </p>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Update Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
